<div class="static-info">

<h1>About Us</h1>

<p>Established in 1953, UMass EMS is a university agency consisting of undergraduate students (occasionally graduate students as well) employed through the department of Environmental Health and Safety. Originally founded as a volunteer fire department, the organization has grown over the years from "Fire and First Aid" responsibilities to Event Standby, as various departments at UMass recognize the need for public safety. Currently, there are approximately 80 members who work as EMTs and Fire Marshals at most on-campus events. These include sporting events (basketball, football, and hockey), rock concerts, theater performances, as well as a variety of other events. Member responsibilities primarily involve providing first aid to participants and spectators as necessary and performing building fire safety inspections prior to the events (for theater and concert hall performances). We are also involved in training the campus community in CPR via our Mission CPR Program, which provides classes open to the public ranging from Bystander to Healthcare Provider CPR. All members of UMass EMS must be certified in the Commonwealth of Massachusetts at the level of EMT-Basic or above. Additionally, our members assist in teaching an EMT-B course offered on the UMass campus.</p>

<p>The number of patients we see during a detail is largely dependent upon the type of event. During theater performances, for instance, the patient volume is much lower, so one of our primary duties is performing fire safety inspections. Our patient volume increases a great deal for large sporting events or rock concerts held at the Mullins Center. For these types of events, we function as first responders in the EMS system with our own equipment or equipment housed at the facility. We see a mix of walk-in patients and patients to whom we are dispatched by event staff or the UMass Police Department (UMPD). We are in radio contact with UMPD and the fire inspector on duty and often work in conjunction with Amherst Fire Department (AFD) paramedics during concerts. For larger events, we staff both a primary first aid room and triage room for patients awaiting the next available transportation. This transportation is provided by Amherst Fire Department (AFD).</p>

<p>We hope to continue our growth in the years to come by recruiting qualified EMTs who are already members of the campus community and by covering more and more events around campus. We also hope to continue educating students and faculty about the importance of safety throughout the campus and community.</p>

<div class="column-cont">
    <div>
        <h2>Funding</h2>
        <p>We are able to operate through support from other organizations on campus. EH&S allows us use of their vehicles for transportation of equipment to events and supplies us with radios, the SGA provides us with much of our non-revenue-based funding, and UHS provides us with some of our disposable medical supplies, oxygen refills, and takes care of our biohazard disposals. UMass EMS purchases much of its own equipment, with money from its revenue and SGA funding accounts. For events in which the anticipated demand exceeds our supplies, we have been able to borrow additional supplies from the Amherst Fire Department. In February 2012, our unit achieved Agency status through the SGA in which we received an expanded budget, allowing for more advertising and state of the art equipment.</p>

        <p>The money necessary for the maintenance and improvement of our equipment, then, comes from revenue from the EMT Training class offered each semester and profits from CPR classes that are taught by unit members and open to the public. One notable aspect of our service is that our care is free of charge to our patients. The sponsors of the event always pay our wages, which are independent of the number of patients treated.</p>
    </div>
    <div>
        <h2>Unit Organization and Operation</h2>
        <p>The unit is run by our board of directors, who are voted into office every December. There are five positions: Executive Director, Director of Operations, Director of Finance, Director of Administration, and Director of Training. The directors are supported by an administrative staff consisting of a Parliamentarian, a CPR Chair, an Initial Training Liaison, and an IT specialist. These positions are assigned each academic year by the board of directors. An EMS coordinator also advises the board of directors and supports the organization. As of 2015 the membership is divided into divisions, each with a Division Head and those divisions are divided into units, each with a Field Supervisor. These division heads and field supervisors are also appointed by the board of directors each calendar year.</p>

        <p>Meetings are held every two weeks for detail scheduling or in-house training, and the Board of Directors holds meetings before general meetings as well as informal meetings on off-weeks. Detail assignment priority is determined by a point system, where members earn points based on the number of details worked or volunteer work since the last scheduling meeting.</p>
    </div>
</div>
<%= image_tag "UMEMS Restructure.svg", :class => "almostall" %>
</div>
