<div class="static-info">
<h1>Mission CPR</h1>
<p>Mission CPR is UmassEMS' initiative to certify as many students, faculty, and members of the surrounding community in CPR as possible. Our classes are not just for members of the Umass community. Anyone can sign up. Follow the instructions below for details. All of our classes are taught by certified Massachusetts Emergency Medical Technicians who have special training and additional certification in CPR instruction. All of our instructors are highly experienced and knowledgeable in CPR instruction and take pride in giving each student a fun and educational experience. This is a great group activity for any RSO, athletics team, or other group of people who wants to learn a valuable skill that could really help someone some day!</p>
<h1><%= link_to "Click here to download the fall 2016 schedule", download_cpr_schedule_url %></h1>
    <h2>How to Sign Up</h2>
    <p><span class="bold">Individual Sign-up: </span>Anyone who wishes to take a Heartsaver CPR/AED course may sign up ahead of time, or walk in, at the prices listed below. Simply send us an inquiry via email to <a href="mailto:UMassEMSMissionCPR@gmail.com">UMassEMSMissionCPR@gmail.com</a> and we will contact you with information and class details. Signing up 48 hours in advance grants a guarunteed spot in the class and a discount. Once you recieve an email from us be sure to confirm your spot.</p>
    <p>Please include the following information in your email:</p>
    <ul class="no_bullets">
      <li>Name</li>
      <li>Desired class/date</li>
      <li>Email address</li>
      <li>Permanent mailing address</li>
      <li>Phone number</li>
    </ul>
    <p><span class="bold">Group Scheduling: </span>To schedule a group of 15 or more for a session not already scheduled, come talk to us in our office in Draper Hall Annex or contact us via email at UMassEMSMissionCPR@gmail.com. *Check Discount Section for special offers.</p>
    <h2>Courses Offered</h2>
    <p><span class="bold">Heartsaver CPR: </span>This 3 to 4 hour course is the standard and most cost effective CPR course for anyone who wants to learn the basics of CPR and AED use. We offer this course as a volunteer, non-profit initiative to certify everyone on campus in CPR. UMass EMS wants to make the campus a more heart-safe community. This course is not the same as Healthcare Provider CPR and cannot be used if you are an EMT, nurse, or other medical professional. Check with your employer to make sure the “AHA Heart Saver CPR AED” course is the correct one to take.</p>

    <p><span class="bold">Healthcare Provider: </span>This course is a 4 to 5 hour long course and is needed for all medical professionals. The course covers more advanced skills such as Bag Valve Mask (BVM) ventilations, pulse location, and infant CPR. This course offers a better rounded understanding of CPR and AED use in comparison to the Heart saver course. To sign up, please email us or come visit our office to see when the next scheduled class is.</p>

    <p><span class="bold">First Aid / CPR AED: </span>This course is a 5 to 6 hour long course that not only covers Heart Saver CPR and AED material but also teaches first aid techniques that may help stabilize a patient prior to further healthcare. Splinting, bleeding control, and heat exhaustion first aid are only a few of the techniques taught in this course. This course is needed in many professions and is a great course to take if you partake in outdoor activities. To sign up, please email us or visit our office to see when the next scheduled class is.</p>

    <h2>Pricing</h2>
    <h4>Paying in advance at least 24 hours before the class starts will give you a $5 discount. Please submit payments to a UMass EMS member the Draper Annex. Please enclose your payment in a sealed envelope with your name, class date, and "CPR Class" written on the front of the envelope.</h4>
    <table>
        <tr>
            <td>Class</td>
            <td>Cost</td>
        </tr>
        <tr>
            <td>Heart Saver CPR/AED</td>
            <td>$55</td>
        </tr>
        <tr>
            <td>Healthcare Provider</td>
            <td>$65</td>
        </tr>
        <tr>
            <td>CPR/AED with First Aid</td>
            <td>$80</td>
        </tr>
    </table>

    <h2>Discounts</h2>
    <p><span class="bold">Nursing Students and EMT’s: </span>UMass School of Nursing students and EMT’s get a $10 discount off of the Sign-up Ahead price for the AHA Healthcare Provider course.</p>

    <p><span class="bold">Group Sign up Discount: </span>Groups of 8 or more get the same discounted rates as Nursing students.</p>

    <p style="font-style:italic">Deposits are non-refundable. You may take the same type of class at a future date in that semester without paying again.</p>
</div>
