<div class="static-info">
	<h1>Welcome to the new and improved UmassEMS webpage!</h1>
    
	<!--<h2>Are you a member?</h2>-->
    <!--<div class="inline bluebutton">-->
       <!--<p>Used the portal Before?</p>-->
        <!--<%= link_to "Log In", '/member_portal/login' %>-->
       <!--<p>Or in the upper right corner</p>-->
    <!--</div>--->
    <!--<div class="inline bluebutton">-->
        <!--<p>New to the portal?</p>-->
        <!--<%= link_to "Activate", '/member_portal/signup' %>-->
       <!--<p>Your account</p>-->
    <!--</div>-->
	<!--<p>Here or in the top right</p>-->
	<!--<h2>Do you want to be?</h2>-->
	<!--<p>If you are a current Massachusetts EMT contact a director about one of our upcoming orientation sessions.</p>-->
	<!--<p>If you aren't a Massachusetts EMT check out our class info.</p>-->
	<!--<h2>Want to learn CPR?</h2>-->
	<!--<p>Check out our CPR class info</p>-->
	<!--<h2>Just visiting?</h2>-->
	<!--<p>Feel free to look around the website. Thanks for checking us out.</p>-->
	<!--<p>Please report any technical difficulties to IT specialist and Web Master Todd Morse. I have no life I will get back to you pretty quickly</p>-->
    <%= image_tag "group_photo.jpg", :class => "group_photo" %>
</div>
