<div class="static-info">
    <h2>Expectations</h2>
    <h3>Attend a fornightly informational and training meetings</h3>
    <h3>Spend an absolute minimum of four hours per two weeks contrubuting to UmassEMS</h3>
    <h3>Attend mandatory training sessons</h3>
<div class="column-cont">
<div>
<h2>Applicant Requirements</h2>
    <h3>Current undergraduate, graduate, or continuing education student at Umass Amherst</h3>
    <h3>MA EMT certification (EMT-Basic minimum)</h3>
        <!--<p>Want to get EMT-Basic certified? Check out our <%= link_to "class", "/class_info"%></p>-->
    <h3>CPR (BLS for health care providers) certification</h3>
        <p>Want to get CPR certified? Check out our <%= link_to "CPR classes", "/cpr" %></p>
    <h3>Poses a valid US Driver's License</h3>
    <h3>Pass both Written and Practical EMT-B standardized exams, taken at Orientation</h3>
</div>
<div>

<h2>How to Become a Full Member</h2>
    <ol>
        <li>Make sure you satisfy the membership requirements.</li>
        <li>Make sure you are comfortable with the list of expectations.</li>
        <li>Fill out our <%= link_to "application form", '/join_info/apply' %>.</li>
        <li>Wait for UmassEMS to contact you with the date of the next orientation. These are typically held in early fall or spring.</li>
        <li>Demonstrate sufficient skills during the orientation.</li>
        <li>Start as a probationary member. This means you can now work with a non-probationary member.</li>
        <li>Fulfill the shift, patient contact, and training requirements necessary to become a full member.</li>
        <li>Complete a full member interview before our board of directors.</li>
    </ol>
</div>
</div>
</div>
