<div class="static-info">
<h1>Thank you for your application.</h1>
<h1>We have recieved your application, please wait for an email response.</h1>
<h2>Click <%= link_to "here", "/" %> to return to homepage.</h2>
</div>
