/* This certificate class is added to the hidden section of an index box and used as styling for certificate content */
.certificate {
    text-align: center
}

.certificate img {
    width: 50%;
    margin: 20px;
}

.certificate input {
    margin: 10px;
}

.certificate p {
    padding: 10px;
    font-size: 24px;
}

