/* These are colors used throughout the site */
$umass_maroon: #881c1c;
$umassems_navy: #202465;
$background_red: #FF3C3C;
$background_green: #84ff5b;
$background_yellow: #FFEF54;
$off_white: #e8e8e8;
$shadow_grey: #3D3D3D;
