/* These are fonts to be used throughout the site */
@font-face {
    font-family: 'OpenSans';
    src:font-url('OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}